@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");


#one .start-50 {
    left: 62%!important;
}

#one p {
    margin-top: 0;
    margin-bottom: 0rem;
}
#one .twin{
	position: relative;
	    top: -10px ;
font-size: 45px;
}



#psy .kitty{
	color:#4e4b66;
}
#psy .ms-2 {
    margin-left: -2.5rem!important;
}
.img1{
	width:100%;

}

}
.imgg1{
	width:100%;
	height: 100%;


}
.imgg2{
	width:100%;
	height: auto;


}
.all{

    margin-top: 4rem!important;

}

#prdct .image1{
	background: url(image/delivery3.webp);
	background-size: cover;
}
#prdct .pt-5 {
    padding-top: 5rem!important;
}


#prdct .image{
	background: url(image/delivery2.avif);
	background-size: cover;
	background-position: center;
}

#prdct .image2{
	background: url(image/delivery4.avif);
	background-size: cover;
}
#prdct .image3{
background: url(image/delivery5.webp);
	background-size: cover;
	height: 450px;	
}


#blog .bg-image{
background:url(image/background-deal.webp);
	background-size: cover;
	background-position: center;
}

#artical .bgclr{
	background-color: #d9f4f9;
}

#artical .pc2{
 position: relative;
 height: 500px;

}

#artical .pc2 img{
    width: 100%;
	animation-name:less;
    animation-duration: 1s;
    
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    position: absolute;
    top: -40px;
    right: 0;
}
@keyframes less{
 	0%{background-color:; left:0px; top:0px; }
 
    100%{background-color:; left:0px; top: :50px;}

}

#smll .ctpic{
	background-color: #fff5d9;
}



#smll .cllr{
	color:#4e4b66;
}

#tags .shipp{
	color:#4e4b66;
}

#lst .fb{
	background-color: #0d6efd;
}

#tags .icon-1{
	width:20%;
	list-style: none;
}




@media only screen and (max-width: 662px) {

.container-fluid{
	width:100%;
}
.row{
	width:100%;
	display: block;
}
.col{
	width:100%;

}

#lst .prod{
	padding-top: 15px;
}
#ltst .vm{
	padding-bottom: 19px;
}
#lst .pb-5 {
    padding-bottom: 1rem!important;
}
#tags .icon-1 {
    width: 100%;
}
#one .search-bar{ 
  display: none;
}

}
